:root {
	--basegrid: "header header header" ". nav ." ". side ." ". content ." "footer footer footer";
	--basegrid-cols: 0 calc(100% - 2rem) 0;
	--basegrid-rows: max-content max-content max-content auto max-content;
}

body {
	display: grid;
	min-height: 100vh;
	grid-template-columns: var(--basegrid-cols);
	grid-template-rows: var(--basegrid-rows);
	gap: 0 1rem;
	grid-template-areas: var(--basegrid);
}

body > header {
	grid-area: header;
	grid-template-columns: subgrid;
}

body > nav {
	grid-area: nav;
	height: 100%;
}

body > main {
	grid-area: content;
}

body > footer {
	grid-area: footer;
	grid-template-columns: subgrid;
}

body > aside {
	grid-area: side;
}

@media (min-width: 85rem) {
	:root {
		--basegrid: "header header header header" ". nav side ." ". content side ." "footer footer footer footer";
		--basegrid-cols: 1fr var(--body-width, 100%) 0 1fr;
		--basegrid-rows: max-content max-content auto max-content;
	}

	[data-nav] {
		grid-area: side;
		min-width: 20ch;

		& > ul > li {
			width: 100%;
			margin-bottom: 1rem;
		}
	}
}
