main {
	:is(a[href^="mailto:"], a[href^="tel:"]) {
		&::before {
			content: "";
			display: inline-block;
			width: 1rem;
			height: 1rem;
			margin-inline-end: 0.5ch;
			background-color: currentColor;
			vertical-align: middle;
		}
	}

	:is(a[href^="mailto:"])::before {
		clip-path: polygon(
			0% 10%,
			0% 90%,
			0% 15%,
			50% 44%,
			100% 15%,
			100% 25%,
			50% 55%,
			0% 25%,
			0% 90%,
			100% 90%,
			100% 10%
		);
	}

	:is(a[href^="tel:"])::before {
		clip-path: polygon(
			38.25% 3%,
			48.49% 7.69%,
			53.16% 22.73%,
			50.41% 30.82%,
			41.86% 35.15%,
			37.32% 44.33%,
			40.78% 57.66%,
			45.03% 66.21%,
			53.75% 70.96%,
			62.81% 66.9%,
			68.65% 69.16%,
			79.87% 84.23%,
			79.84% 92.28%,
			70.14% 96.77%,
			59.46% 96.77%,
			46.27% 93.26%,
			33.24% 81.33%,
			27.26% 64.7%,
			19.65% 39.61%,
			20.89% 17.71%,
			24.95% 10.48%
		);
	}
}
