[data-group] {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 1px;
	border-radius: var(--border-radius);
	overflow: hidden;

	> * {
		--border-radius: 0;
	}

	&[data-group="vertical"] {
		flex-direction: column;
	}
}
