[data-nav] {
	position: relative;
	padding-right: 1rem;
	text-wrap: wrap;
	z-index: 1;

	> ul {
		position: sticky;
		top: 1rem;

		> li {
			display: inline-block;
			font-weight: 600;

			&:not(:last-of-type) {
				margin-right: 1rem;
			}
		}
	}
}
