[data-spoiler] {
	background-color: currentColor;
	cursor: pointer;
	speak: never;

	&:focus-within {
		background-color: transparent;
		speak: auto;
		transition: background-color calc(1s * var(--enable-animation, 1)) ease-out;
	}
}
