:root {
	--body-width: 45rem;

	--font: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
	--font-mono: Consolas, monaco, "Ubuntu Mono", "Liberation Mono", "Courier New", Courier, monospace;
	--font-accent: var(--font);
	--font-size-min: 1rem;
	--font-size-max: 1.4rem;
	--line-height: 1.6;
	--letter-spacing: 0.01875em;

	--border-radius: 16px;
}

:root, [force-scheme="light"] {
	--col-bg: #d9ecf3;
	--col-bg2: #cbe3ed;
	--col-bg3: #bce0ee;
	--col-fg: #152e36;
	--col-fg2: #507580;
	--col-accent: #016769;
	--col-accent2: #0071cb;
	--col-accent-contrast: #eeeeee;
}

@media (prefers-color-scheme: dark) {
	:root:not([force-scheme="light"]) {
		--col-bg: #132a32;
		--col-bg2: #193742;
		--col-bg3: #255362;
		--col-fg: #c2dae2;
		--col-fg2: #7296a2;
		--col-accent: #72ffe9;
		--col-accent2: #45d6fc;
		--col-accent-contrast: #111;
	}
}

[force-scheme="dark"] {
	--col-bg: #132a32;
	--col-bg2: #193742;
	--col-bg3: #255362;
	--col-fg: #c2dae2;
	--col-fg2: #7296a2;
	--col-accent: #72ffe9;
	--col-accent2: #45d6fc;
	--col-accent-contrast: #111;
}
