:root {
	--body-width: 45rem;

	--col-bg: #e5ffd8;
	--col-bg2: #e5ffd8;
	--col-bg3: #e5ffd8;
	--col-fg: #247300;
	--col-fg2: #247300;
	--col-accent: #247300;
	--col-accent2: #247300;
	--col-accent-contrast: #fff;

	--font: Consolas, monaco, "Ubuntu Mono", "Liberation Mono", "Courier New", Courier, monospace;
	--font-mono: Consolas, monaco, "Ubuntu Mono", "Liberation Mono", "Courier New", Courier, monospace;
	--font-accent: var(--font);
	--font-size-min: 1rem;
	--font-size-max: 1rem;
	--line-height: 1.3;
	--letter-spacing: 0.01875em;

	--border-radius: 0px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--col-bg: #051000;
		--col-bg2: #0a3000;
		--col-bg3: #061d00;
		--col-fg: #0f0;
		--col-fg2: #0f0;
		--col-accent: #0f0;
		--col-accent2: #0f0;
		--col-accent-contrast: #000;
	}
}
