:root {
	--body-width: 45rem;

	--font: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
	--font-mono: Consolas, monaco, "Ubuntu Mono", "Liberation Mono", "Courier New", Courier, monospace;
	--font-accent: var(--font);
	--font-size-min: 1rem;
	--font-size-max: 1.2rem;
	--line-height: 1.6;
	--letter-spacing: 0.01875em;

	--border-radius: 5px;
}

:root, [force-scheme="light"] {
	--col-bg: #eaeaea;
	--col-bg2: #eee;
	--col-bg3: #e0e0e0;
	--col-fg: #111;
	--col-fg2: #333;
	--col-accent: #4e575e;
	--col-accent2: #34383f;
	--col-accent-contrast: #fff;
}

@media (prefers-color-scheme: dark) {
	:root:not([force-scheme="light"]) {
		--col-bg: #111;
		--col-bg2: #161616;
		--col-bg3: #1b1b1b;
		--col-fg: #eee;
		--col-fg2: #aaa;
		--col-accent: #c8d5e3;
		--col-accent2: #a6b0b9;
		--col-accent-contrast: #111;
	}
}

[force-scheme="dark"] {
	--col-bg: #111;
	--col-bg2: #161616;
	--col-bg3: #1b1b1b;
	--col-fg: #eee;
	--col-fg2: #aaa;
	--col-accent: #c8d5e3;
	--col-accent2: #a6b0b9;
	--col-accent-contrast: #111;
}