:root {
	--body-width: 45rem;

	--font: "Times New Roman", Times, serif;
	--font-mono: Consolas, monaco, "Ubuntu Mono", "Liberation Mono", "Courier New", Courier, monospace;
	--font-accent: "Comic Sans MS", cursive, sans-serif;
	--font-size-min: 0.9rem;
	--font-size-max: 1.5rem;
	--line-height: 1;
	--letter-spacing: 0;

	--border-radius: 50px;
}

:root, [force-scheme="light"] {
	--col-bg: #ff0;
	--col-bg2: #0ff;
	--col-bg3: #fc0;
	--col-fg: #000;
	--col-fg2: #000;
	--col-accent: #00f;
	--col-accent2: #f00;
	--col-accent-contrast: #fff;
}

@media (prefers-color-scheme: dark) {
	:root:not([force-scheme="light"]) {
		--col-bg: #008;
		--col-bg2: #800;
		--col-bg3: #088;
		--col-fg: #fff;
		--col-fg2: #fff;
		--col-accent: #ff0;
		--col-accent2: #0ff;
		--col-accent-contrast: #000;
	}
}

[force-scheme="dark"] {
	--col-bg: #008;
	--col-bg2: #800;
	--col-bg3: #088;
	--col-fg: #fff;
	--col-fg2: #fff;
	--col-accent: #ff0;
	--col-accent2: #0ff;
	--col-accent-contrast: #000;
}
