<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}{% if title %} &bull; {%endif%}Ssstyles</title>
		<meta name="description" content="Ssstyles is a very simple CSS style system. It consists of a classless stylesheet as a base layer and some small, optional components on top.">
		<link rel="stylesheet" href="{{ '/style.css' | url }}">
		<link rel="shortcut icon" type="image/png" href="{{ '/icon.svg' | url }}">
		<link rel="apple-touch-icon" href="{{ '/icon.png' | url }}">
	</head>
	<body>
		<header>
			<a data-skiplink href="#content">Skip to content</a>
			<h1><a href="{{ '/' | url }}">Ssstyles</a>{% if title %} ›&nbsp;{%endif%}{{ title }}</h1>
		</header>
		<nav data-nav>
			<ul>
				{%- for link in nav -%}
					<li><a href="{{ link.url | url }}">{{link.text}}</a></li>
				{%- endfor -%}
			</ul>
		</nav>
		<main>
			{{ content | safe }}
		</main>
		<footer>
			✌️ Made by <a href="https://iamschulz.com">me</a> in 2023<br>
			💻 <a href="https://github.com/iamschulz/ssstyles">Source Code</a><br>
			🚓 <a href="https://spdx.org/licenses/MIT.html">MIT Licence</a><br>
			🎈 <a href="https://www.11ty.dev/">Built with 11ty</a>
		</footer>
	</body>
</html>
