<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}{% if title %} &bull; {%endif%}Ssstyles</title>
		<link rel="stylesheet" href="{{ '/style.css' | url }}">
		<style>
			pre[class*=language-] {
				background: var(--col-bg2);
				margin: 1rem 0;
				padding: 0.5rem;
			}
		</style>
	</head>
	<body>
		<header>
			<h1><a href="{{ '/' | url }}">Ssstyles</a>{% if title %} ›&nbsp;{%endif%}{{ title }}</h1>
		</header>
		<nav data-nav>
			<ul>
				{% for link in nav %}
					<li><a href="{{ link.url | url }}">{{link.text}}</a></li>
				{% endfor %}
			</ul>
		</nav>
		<main>
			{{ content | safe }}
		</main>
		<footer>
			✌️ Made by <a href="https://iamschulz.com">me</a> in 2023<br>
			💻 <a href="https://github.com/iamschulz/ssstyles">Source Code</a></br>
			🚓 <a href="https://spdx.org/licenses/MIT.html">MIT Licence</a><br>
			🎈 <a href="https://www.11ty.dev/">Built with 11ty</a>
		</footer>
	</body>
</html>
