:root {
	--body-width: 45rem;

	--col-bg: #eee;
	--col-bg2: #e8e8e8;
	--col-bg3: #dfdfdf;
	--col-fg: #333;
	--col-fg2: #7c8386;
	--col-accent: #b2033a;
	--col-accent2: #1c618f;
	--col-accent-contrast: #eee;

	--font: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
	--font-mono: Consolas, monaco, "Ubuntu Mono", "Liberation Mono", "Courier New", Courier, monospace;
	--font-size-min: 1rem;
	--font-size-max: 1.2rem;
	--line-height: 1.6;
	--letter-spacing: 0.01875em;

	--border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--col-bg: #181c1f;
		--col-bg2: #192124;
		--col-bg3: #1d2629;
		--col-fg: #eee;
		--col-fg2: #7c8386;
		--col-accent: #ff297a;
		--col-accent2: #72c4ff;
		--col-accent-contrast: #111;
	}
}
