@media (prefers-contrast: more) {
	:root, [force-scheme="light"] {
		--col-bg: #fff !important;
		--col-bg2: #fff !important;
		--col-bg3: #fff !important;
		--col-fg: #000 !important;
		--col-fg2: #000 !important;
		--col-accent-contrast: #fff !important;
	}

	[force-scheme="dark"] {
		--col-bg: #000 !important;
		--col-bg2: #000 !important;
		--col-bg3: #000 !important;
		--col-fg: #fff !important;
		--col-fg2: #fff !important;
		--col-accent-contrast: #000 !important;
	}
}

@media (prefers-contrast: more) and (prefers-color-scheme: dark) {
	:root:not([force-scheme="light"]) {
		--col-bg: #000 !important;
		--col-bg2: #000 !important;
		--col-bg3: #000 !important;
		--col-fg: #fff !important;
		--col-fg2: #fff !important;
		--col-accent-contrast: #000 !important;
	}
}