:root {
	box-sizing: border-box;
}

body {
	max-width: var(--body-width);
	margin: auto;
	padding: 0 1rem;
	word-wrap: break-word;

	> :is(header, footer) {
		position: relative;
		margin: 0 calc((50vw - 50%) * -1 + 1rem);
		padding: 2rem calc(50vw - 50% - 1rem);
		background: var(--col-bg3);

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			box-shadow: -2rem 0 0 0 var(--col-bg3), 2rem 0 0 0 var(--col-bg3);
			z-index: -1;
		}
	}

	> footer {
		margin-top: 5rem;
	}
}

figure,
video,
canvas,
iframe {
	display: block;
	max-width: 100%;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

img,
svg {
	max-width: 100%;
	height: auto;
	vertical-align: text-bottom;
}
